{% extends 'UerpMainBundle::main.html.twig' %}
{% block title %} Customer {% endblock %}

{% block body -%}

    <li>
        <ul>
            <a href="{{ path('companyperson') }}"> company</a>
        </ul>
        <ul>
            <a href="{{ path('individualperson') }}"> individual</a>
        </ul>
    </li>
{% endblock %}
