{% extends 'UerpMainBundle::main.html.twig' %}

{% block body -%}
    <h1>{% trans %}New Client{% endtrans %}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer') }}">
            {% trans %}Back to Clients{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
