{% extends 'UerpMainBundle::main.html.twig' %}
{% block title %} Sales Report {% endblock %}
{% block body -%}

<!-- Load jQuery from Google's CDN if needed -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
<script type="text/javascript">
    {{ chart(chart) }}
    {{ chart(barchart) }}
</script>

<div class="panel panel-info" style="margin: 20px" id="total">
	<div class="panel-heading">
		<h3>Sales Report</h3>
	</div>
	<div class="panel-body form-horizontal">
    <div class="form">
      {% form_theme formfilter 'bootstrap_3_horizontal_layout.html.twig' %}
      {{ form(formfilter)}}
    </div>
        <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        <br><br>
        <div id="barcha" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


</div>


{% endblock %}
