<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Uerp {% block title %}Welcome!{% endblock %}</title>
      {% stylesheets  '@UerpMainBundle/Resources/public/css/select2.min.css'
        '@UerpMainBundle/Resources/public/css/bootstrap.min.css' 
        '@UerpMainBundle/Resources/public/css/uerpsale.css' 
        '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
        filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
      {% block stylesheets %}
      {% endblock %}
    </head>
    <body>
		{% block menu %}
			<section  id="container" >
        <header class="header black-bg" style="height:70px;">        
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <a href="{{ path('homepage') }}" class="logo"><b>Uerp</b></a>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              {% block supmenu %}{% endblock %}
            </div>
            <div style="padding-left: 0px;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              {% block btnclose %}
              <a style="margin-top: 10px; margin-right: 10px;"  class="logout btn btn-lg btn-danger " href="{{ path('sale_close', { 'id': entity.id }) }}">Close</a>
              {% endblock %}
            </div>
          </div>
        </header>
      </section>
    {% endblock %}	
    {% block body %}{% endblock %}
    <!-- javascript --> 	
    {% javascripts  '@UerpMainBundle/Resources/public/js/jquery.js'
                '@UerpMainBundle/Resources/public/js/bootstrap.min.js' 
                '@UerpMainBundle/Resources/public/js/uerpsale.js' 
                '@UerpMainBundle/Resources/public/js/select2.min.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

  {% block actions %}
      <script type="text/javascript">
        $(document).ready(function() {
          $(".combobox").select2(); 
      });
</script>{% endblock %}
  </body>
</html>
