{% extends 'UerpMainBundle::main.html.twig' %}
{% block body -%}

<div class="panel panel-info" style="margin: 20px">
	<div class="panel-heading">
    	<h3>Seller creation</h3>
    </div>
    <div class="panel-body">
    
    	{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    	{{ form(form) }}

        <a class="btn btn-info btn-sm"  href="{{ path('seller') }}">Back to the list</a>

    </div>
</div>
{% endblock %}
