{% extends 'UerpMainBundle::main.html.twig' %}

{% block body -%}
    <h1>Bills creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('bills') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
